h1 {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
  letter-spacing: 10px;
  background-color: rgb(0, 104, 145);
}
.tab-container {
  display: flex;
  justify-content: center;
}

.tab-container p:hover {
  background-color: rgb(255, 56, 106);
  color: #fff;
}
.tab-container p {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 12px;
  margin: 2rem 0.2rem;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  padding: 1rem 2rem;
}
.active-tab {
  background-color: rgb(142, 72, 255);
  color: white;
}

@media (max-width: 768px) {
  h1 {
    font-size: 0.8rem;
    padding: 1.5rem 0.2rem;
  }
}
